<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript">
		const updateData = async(url, time, pulse, temperature) => {
			const sensorData = await fetch(url)
									  .then(response => response.text())
			const target = document.getElementById(element)
			target.innerHTML = `<h1>${sensorData}</h1>`
		}
	</script>
	<meta http-equiv="refresh" content="5" charset="utf-8">
</head>
<body onload="updateData('/him', 'time', 'pulse', 'temperature')">
	<div class="title">Let's check health condition</div>
	<p id="time">Time: {{data[0]}}</p>
	<p id="temperature"> Temperature: {{data[1]}}</p>
	<p id="pulse">Pulse: {{data[2]}}</p>
	<br>
	<br>
	<div class="privateData">
		<form action="/sensor_data.csv">
		<p>Information of monitoring target!</p><br>
		<p>名前: <input type="text" name="名前"></p><br>
		<p>年齢: <input type="number" name="年齢"></p><br>
		<br>
		<input type="radio" name="gender" value="male" checked> Male<br>
  		<input type="radio" name="gender" value="female"> Female<br><br>
  		<p>Last Check Up?</p><br>
  		<input type="checkbox" name="time" value="last week">last week <br>
  		<input type="checkbox" name="time" value="last week">1 month ago <br>
  		<br>
  		<input type="submit" value="Submit">
  		<input type="reset" name="">
  		<input type="button" onclick="alert('Hello, Good Night!')" value="Click it!">
		</form><br>
	</div>
	<input type="button" value="更新" onClick="updateDht('/him', 'time', 'temperature', 'pulse')">

</body>
</html>

<style class="css">
@import 'https://fonts.googleapis.com/css?family=Copse';

body{
	background-color: #c7f0db;
}

.title{
	text-align: center;
	font-size: 30px;
	margin-bottom: 18px;
	color: #c06c84;
}

.info{
	text-align: center;
	font-size: 30px;
	margin-bottom: 18px;
	color: #c06c84;
}

p{
	margin: 0 0 12px 0;
	font-size: 20px;
	border-bottom: 1px dashed #888888;
}

p:hover{
	color: #ff7315;
	border-color: #d1cb7d;
	background-color: #3a3535;
}
</style>