
<!DOCTYPE html>
<html>
<head>
	<title>プロトタイプ</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		const updateData = async(url, element) => {
			const sensorData = await fetch(url)
									  .then(response => response.text())
			const target = document.getElementById(element)
			target.innerHTML = `<h1>${sensorData}</h1>`
		}
		
		setInterval("my_function();",4000); 
    	function my_function(){
      		$('#refresh').load(location.href + '#refresh');
    	}
	</script>
	<script type="text/javascript">
		if ({{data[1]}} > 100 & {{data[2]}} < 38.0){
			alert("There is a health problem!");
		}
		else if({{data[1]}} < 60){
			alert("There is a health problem!");	
		}
	</script>
	<meta http-equiv="refresh" content="2">
</head>
<body onload="updateData('/him', 'element')">
	<article>
	<h1>Let's check health condition</h1>
	<div class="data">
	<div id="time">Time: {{data[0]}}</div>
	<br>
	<div id="pulse">Pulse: {{data[1]}}</div>
	<br>
	<div id="temperature">Temperature: {{data[2]}}</div>
	<br>
	<div id="condition">Condition: {{data[3]}}</div>
	</div>
	<!--<button  onClick="updateData('/him', 'element')">更新</button>-->
	</article>
</body>
</html>

<style type="text/css">
h1{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
	font-family: verdana;
}

.data{

	text-align: center;
	padding: 35px;
	font-size: 30px;
	color: #32afa9;
	border: 1px solid;
	background-color: #f0cf85;
}

@media screen and (max-width: 567px){
h1{
		text-align: center;
		font-size: 24px; 
	}

.data{
		text-align: center;
		padding: 35px;
		font-size: 30px;
		color: #32afa9;
		border: 1px solid;
		background-color: #f0cf85;
	}
}
</style>
