<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript">
		const updateData = async(url, values) => {
			const sensorData = await fetch(url)
									  .then(response => response.text())
			const target = document.getElementById(values)
			target.innerHTML = `<h1>${sensorData}</h1>`
		}
	</script>
	<meta http-equiv="refresh" content="3" charset="utf-8">
</head>
<body onload="updateData('/him', 'values')">
	<div id="Hello">Let's Test Sensors!</div>
	<div id="time">Time: {{data[0]}}</div>
	<div id = "values">temperature: {{data[1]}}</div>
	<input type="button" value="更新" onClick="updateDht('/him', 'values', 'time')">
</body>
</html>